/* html {
	动画样式
	scroll-behavior: smooth;
}*/


/* 提醒栏样式 */
[data-md-color-primary=pink] .md-typeset blockquote {
	background: #ababab33;
}

[data-md-color-primary=black] .md-typeset blockquote {
	background: #5e5e5e33;
}

[dir=ltr] .md-typeset blockquote {
	padding: 0.1px 15px;
	border-radius: 5px;
}


/* 代码块背景色 */
[data-md-color-primary=pink] .md-typeset .highlighttable>tbody>tr>.code>div>pre>code {
	border-radius: 0px 5px 5px 0px;
	background: #ababab33;
}

[data-md-color-primary=pink] .highlighttable .linenos {
	border-radius: 5px 0px 0px 5px;
	background: #ababab33;
}

[data-md-color-primary=black] .md-typeset .highlighttable>tbody>tr>.code>div>pre>code {
	border-radius: 0px 5px 5px 0px;
	background: #5e5e5e33;
}

[data-md-color-primary=black] .highlighttable .linenos {
	border-radius: 5px 0px 0px 5px;
	background: #5e5e5e33;
}


/* 回到顶部标签背景色 */
.md-top {
	border-radius: 10px;
}


/* 代码背景色 */
[data-md-color-primary=pink] .md-typeset code {
	background-color: #dcdcdc;
}

[data-md-color-primary=black] .md-typeset code {
	background-color: #484747;
}


/* 复制按钮颜色 */
.md-clipboard {
	color: #00000000;
}

/* 标题样式 */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
	font-weight: bold;
}

/* 标题一之间的外边距，标题一外边距不需要太大 */
.md-typeset h1 {
	margin: -0.12em 0 .64em;
}

/* 标题之间的外边距 */
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
	margin: 1.5em 0 .64em;
}

/* 标题图标常显示 */
/*.md-typeset .headerlink {
     opacity: 1; 
}